body {
    background-color: black; 
    color: white;              
}

header {
    background-color: #d25cd6; 
    color: white;
    text-align: center;       
}

h3 {
    font-style: italic;  
}

section {
    font-family: Helvetica, sans-serif; 
    font-size: 12pt;                   
    text-align: justify;  
}

footer {
    text-align: center;
}